<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    @Html.Partial("~/Views/Home/Header.cshtml")
    <div class="container text-white">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Home/Footer.cshtml")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>
